<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/home.css">
  </head>

<body>
  <div id='content'>    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Image Colorization</a>
      <div class="collapse navbar-collapse" style="margin-left:30%;" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/howitworks">How it works</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="content mt-5 mb-5">
      <div class=" header">
        <div class="row d-flex justify-content-center">
          <h1 style="font-size: 60px; text-align: center;">IMAGE COLORIZATION</h1>
        </div>
        <div class="row d-flex justify-content-center">
          <h2 style="font-size: 50px; text-align: center;">with CHROMAGAN and ESRGAN</h2>
        </div>
        <div class="row d-flex justify-content-center">
          <h2 style="font-size: 20px; text-align: center;">ESRGAN by Nhan Phan - Mariana class</h2>
        </div>
        <div class="row d-flex justify-content-center mt-5">
          <form action='/' method="Post" enctype="multipart/form-data">
            <div class="d-flex justify-content-center">
              <label for="image_uploads">UPLOAD YOUR PET IMAGE HERE!</label>
              <input type="file" id="image_uploads" name="file" accept=".jpg, .jpeg, .png" multiple>
            </div>
            <div class="preview">
              <p style="padding:10px;background:white; color:black;border-radius: 5px;">No files currently selected for
                upload</p>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="img_type" id="exampleRadios1" value=1 checked>
              <label class="form-check-label" for="exampleRadios1">
                Potrait
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="img_type" id="exampleRadios2" value=0>
              <label class="form-check-label" for="exampleRadios2">
                Other picture
              </label>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary" onclick="loading();" style="box-shadow: 0 1px 3px #7b7b7b;
              background-color: #42b5ff; 
              border-color: #42b5ff;">SUBMIT</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="container mt-5" style="position:relative; top:100px;">
      <p style="color: white; font-size:40px ; font-weight:800; text-align:center;">GALLERY</p>
      <div class="container">
        {% for i in range(current_index-1,-1,-1)%}
        <div class="modal fade" id="image_{{i+1}}" data-backdrop="static" tabindex="-1" role="dialog"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <img class="img-fluid " src="/static/images/result_2/{{i+1}}.jpg" alt="5 Terre" style="width:100%">
          </div>
        </div>
      </div>
        <div class="row mb-5">
          <div class="col d-flex justify-content-end mb-2">
          <div class="card shadow-custom hover-shadow" >
            <img style="width: auto; height:448px;" class="card-img-top" src="/static/images/upload/{{i+1}}.jpg" alt="Card image cap"">
          </div>
        </div>
          <div class="col d-flex justify-content-right mb-2">
          <div class=" card shadow-custom hover-shadow" data-toggle="modal" data-target="#image_{{i+1}}">
            <img style="width: auto; height:448px;" class="card-img-top" src="/static/images/result_2/{{i+1}}.jpg" alt="Card image cap"">
          </div>
        </div>
        </div>
        {% endfor%}
      </div>
    </div>
    <footer class=" mt-5">
      Tonga Class @2020. All rights resersed
    </footer>
  </div>
          <div id="loading" class='loader' style="display: none;">
            <div class='bg'></div>
            <h2>PAINTING...</h2>
          </div>
          <!-- Optional JavaScript -->
          <script>// <![CDATA[
            function loading() {
              $("#content").hide();
              var y = document.getElementById("loading");
              if (y.style.display === "none") {
                y.style.display = "flex";
              } else {
                y.style.display = "none";
              }
            }
// ]]></script>
          <script>
            const input = document.querySelector('input');
            const preview = document.querySelector('.preview');

            input.style.opacity = 0;
            input.addEventListener('change', updateImageDisplay);

            function updateImageDisplay() {
              while (preview.firstChild) {
                preview.removeChild(preview.firstChild);
              }

              const curFiles = input.files;
              if (curFiles.length === 0) {
                const para = document.createElement('p');
                para.textContent = 'No files currently selected for upload';
                preview.appendChild(para);
              } else {
                const list = document.createElement('ol');
                preview.appendChild(list);

                for (const file of curFiles) {
                  const listItem = document.createElement('li');
                  const para = document.createElement('p');
                  if (validFileType(file)) {
                    para.textContent = `File name ${file.name}, file size ${returnFileSize(file.size)}.`;
                    const image = document.createElement('img');
                    image.src = URL.createObjectURL(file);

                    listItem.appendChild(image);
                    listItem.appendChild(para);
                  } else {
                    para.textContent = `File name ${file.name}: Not a valid file type. Update your selection.`;
                    listItem.appendChild(para);
                  }

                  list.appendChild(listItem);
                  list.style = "display:flex; justify-content: space-between; "
                }
              }
            }
            // https://developer.mozilla.org/en-US/docs/Web/Media/Formats/Image_types
            const fileTypes = [
              "image/apng",
              "image/bmp",
              "image/gif",
              "image/jpeg",
              "image/pjpeg",
              "image/png",
              "image/svg+xml",
              "image/tiff",
              "image/webp",
              "image/x-icon"
            ];
            function validFileType(file) {
              return fileTypes.includes(file.type);
            }
            function returnFileSize(number) {
              if (number < 1024) {
                return number + 'bytes';
              } else if (number >= 1024 && number < 1048576) {
                return (number / 1024).toFixed(1) + 'KB';
              } else if (number >= 1048576) {
                return (number / 1048576).toFixed(1) + 'MB';
              }
            }
          </script>
          <!-- jQuery first, then Popper.js, then Bootstrap JS -->
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>